body{
    font-family: 'Space Grotesk', sans-serif;       
    font-size:large;
    text-transform: uppercase;
    color: white;
    cursor:url(../css/lion.cur), auto;
}
article{
    background-image: url("../img/pinkglitter.gif");
    background-repeat: repeat;
    background-size:200px;
}
html{
    background-image:url("../img/7270362.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
.column img {
    justify-content: space-around;
    vertical-align: middle;
    width: 25%;
    height: 25%;
}
img:hover {
    background-color: #ffd037;
    padding: 20px;
    transition: all 0.5s;
}

 h1{
        text-align: center;
        text-transform: uppercase;
}
:focus-visible {
    background-color: darkorchid;
   } 
    h1{
        font-size: 40px;
    }
  
    button {  
        font-family: 'Space Mono', sans-serif;        
        background-color:#ca0184;
        font-size: x-large;
        text-transform: uppercase;
        text-decoration:underline;
        text-decoration-style: none;
        padding: 20px 50px 20px 50px;
    }
    .button {
        color:#ffd037;
        font-size: 20px;
        display: inline-block;
       } 
    
    nav{
        font-family: 'Space Grotesk';
        text-transform: uppercase;
        font-size: 20px;
        text-align: left;
        margin-left: 100px;
        margin-right: 100px;
        background-image: url("/img/leosign.gif");
    background-size: 30px;
    background-repeat: repeat-x;
    }
    em{background-color: darkorchid;
        padding-inline: 30px;
       } 
a {
    color:#ffd037;
}
button, a:hover {
    cursor:url(../css/lion.cur), auto;
  }
  



