body{ 
    font-family: 'Space Grotesk', sans-serif;       
    font-size: xxx-large;
    background-image:linear-gradient(#FC9BFF,#A89BFF);
    background-size: 100%;
    color: white;
}

    button {
        font-family: 'Space Mono', sans-serif;
        font-size: x-large;
        padding: 10px
    }
