body{ 
    font-family: 'Space Grotesk', sans-serif;       
    font-size: 60px;
    background: url("img/leosign.gif");
    background-repeat: repeat-x;
    background-size: 500px ;
    background-position: center;
    align-items: center;
    color: white;
    cursor:url(../css/lion.cur), auto;
}
section{
   
}

html{
    background-image:radial-gradient(#eb67f1,#cf9cff);
    background-size:cover;
}
 button {
        font-family: 'Space Mono', sans-serif;
        font-size: x-large;
        padding-inline: 30px;
        background-color:darkorchid;
    }
   
button, a:hover {
        cursor:url(../css/lion.cur), auto;
      }
    a {
        color:#ffd037;
       } 
     