body{
    background-color: #030345;
        font-family: 'Space Grotesk', sans-serif;       
        font-size:large;
        background-color: #030345;
        color: white;
    }
    
        button {
            font-family: 'Space Mono', sans-serif;
            background-color:#733832;
            text-transform: uppercase;
            font-size: x-large;
            padding: 10px
    
        }
    a {
        color:#ffd037;
    }