body{
    background-color: #4d2210;
    font-family: 'Space Grotesk', sans-serif;    
    color: white;
}

    
    button {
        font-family: 'Space Mono', monospace;        
        background-color:#0a0a23;
        font-size: x-large;
        text-transform: uppercase;
        text-decoration-style: none;
        padding: 20px;
        margin: 20px;
    }
a {
    color:#ffd037;
}