body{
    background-image:radial-gradient(rgb(98, 194, 194),#1354ce);
    font-family: 'Space Grotesk', sans-serif;    
    color: white;
    margin-left: 100px;
    margin-right: 100px;
}
h1{
    font-size: 40px;
    text-transform: uppercase;
}
:focus-visible {
    background-color: darkorchid;
   } 
nav{
    text-transform: uppercase;
    font-size: 20px;
}
em{background-color: darkorchid;
    padding-inline: 30px;
   } 
    button {
        font-family: 'Space Mono', monospace;        
        background-color:#0a0a23;
        font-size: x-large;
        text-transform: uppercase;
        text-decoration-style: none;
        padding: 20px;
        margin: 20px;
    }
a {
    color:#ffd037;
   } 
   .column img {
    justify-content: space-around;
    vertical-align: middle;
    width: 25%;
    height: 25%;
   }